12-1.json
[{"id":"7dc14865.b55498","type":"tab","label":"week 12-1","disabled":false,"info":""},{"id":"21d25482.ba856c","type":"inject","z":"7dc14865.b55498","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":240,"wires":[["a947c5c3.e3e3a8"]]},{"id":"a947c5c3.e3e3a8","type":"function","z":"7dc14865.b55498","name":"payload","func":"msg.headers={\n    deviceKey:\"i9X6Pky0S7bgpjS5\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":240,"wires":[["64eacce8.2fa804"]]},{"id":"64eacce8.2fa804","type":"http request","z":"7dc14865.b55498","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/DWC50qSX/datachannels/led/datapoints.csv","tls":"","proxy":"","authType":"","x":550,"y":240,"wires":[["8fe9d9e3.ffeb28","f55227c9.fb4318"]]},{"id":"8fe9d9e3.ffeb28","type":"http response","z":"7dc14865.b55498","name":"","statusCode":"","headers":{},"x":710,"y":240,"wires":[]},{"id":"f55227c9.fb4318","type":"debug","z":"7dc14865.b55498","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":300,"wires":[]}]