12-2.json
[{"id":"e6c25f5f.169b2","type":"tab","label":"week 12-2","disabled":false,"info":""},{"id":"6d87107e.a8c25","type":"function","z":"e6c25f5f.169b2","name":"Payload","func":"msg.headers=\n{\n    deviceKey  :\"i9X6Pky0S7bgpjS5\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":120,"wires":[["2eeb97ef.166788","b3adef27.1f467"]]},{"id":"2eeb97ef.166788","type":"http request","z":"e6c25f5f.169b2","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/DWC50qSX/datachannels/Temperature/datapoints.csv","tls":"","proxy":"","authType":"","x":510,"y":120,"wires":[["e2f129b.793a4d8"]]},{"id":"e2f129b.793a4d8","type":"debug","z":"e6c25f5f.169b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":140,"wires":[]},{"id":"b3adef27.1f467","type":"http request","z":"e6c25f5f.169b2","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/DWC50qSX/datachannels/Humidity/datapoints.csv","tls":"","proxy":"","authType":"","x":530,"y":200,"wires":[["e2f129b.793a4d8"]]},{"id":"9887c44a.724668","type":"inject","z":"e6c25f5f.169b2","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":"0.5","x":150,"y":100,"wires":[["6d87107e.a8c25"]]}]