12-3.json
[{"id":"776bd35a.457b3c","type":"tab","label":"week 12-3","disabled":false,"info":""},{"id":"2c92ae07.3fe872","type":"inject","z":"776bd35a.457b3c","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":140,"wires":[["faa20bdc.66cc68"]]},{"id":"faa20bdc.66cc68","type":"function","z":"776bd35a.457b3c","name":"payload","func":"msg.headers={\n    deviceKey:\"i9X6Pky0S7bgpjS5\"\n    \n};\nmsg.payload=\"Temperature,,30\";\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":200,"wires":[["e259a64d.cecd18"]]},{"id":"e259a64d.cecd18","type":"http request","z":"776bd35a.457b3c","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/DWC50qSX/datapoints.csv","tls":"","proxy":"","authType":"","x":610,"y":200,"wires":[["118fcc9a.923583","da11f06a.efa74"]]},{"id":"118fcc9a.923583","type":"http response","z":"776bd35a.457b3c","name":"","statusCode":"","headers":{},"x":900,"y":220,"wires":[]},{"id":"da11f06a.efa74","type":"debug","z":"776bd35a.457b3c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":820,"y":320,"wires":[]}]