13-1.json
[{"id":"e8b8ec0f.f4e48","type":"tab","label":"week 13-1","disabled":false,"info":""},{"id":"474fee6.fa4b51","type":"http in","z":"e8b8ec0f.f4e48","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":180,"y":160,"wires":[["4c3e1ba7.d7e5e4"]]},{"id":"2bb5a29b.5eee5e","type":"http response","z":"e8b8ec0f.f4e48","name":"","statusCode":"","headers":{},"x":580,"y":180,"wires":[]},{"id":"2e465da1.c473f2","type":"rpi-gpio in","z":"e8b8ec0f.f4e48","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":false,"x":90,"y":260,"wires":[["227a1ed7.86e152"]]},{"id":"227a1ed7.86e152","type":"function","z":"e8b8ec0f.f4e48","name":"set GPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":260,"wires":[["414d40e2.4e845"]]},{"id":"4c3e1ba7.d7e5e4","type":"function","z":"e8b8ec0f.f4e48","name":"get GPIO","func":"msg.payload =global.set(\"GPIO\")\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":140,"wires":[["2bb5a29b.5eee5e","414d40e2.4e845"]]},{"id":"414d40e2.4e845","type":"debug","z":"e8b8ec0f.f4e48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":300,"wires":[]}]