13-2.json
[{"id":"6e9df528.e3f4ec","type":"tab","label":"week 13-2","disabled":false,"info":""},{"id":"30144b96.5293b4","type":"http request","z":"6e9df528.e3f4ec","name":"setGPIO5","method":"GET","ret":"txt","paytoqs":false,"url":"/setgpio5","tls":"","proxy":"","authType":"","x":140,"y":220,"wires":[["24f7f383.a87bfc","cb2b7cc7.ac18e"]]},{"id":"24f7f383.a87bfc","type":"function","z":"6e9df528.e3f4ec","name":"set to 1","func":"msg.payload= 1;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":240,"wires":[["7a960e7e.63927"]]},{"id":"7a960e7e.63927","type":"rpi-gpio out","z":"6e9df528.e3f4ec","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":540,"y":240,"wires":[]},{"id":"cb2b7cc7.ac18e","type":"function","z":"6e9df528.e3f4ec","name":"Return Status","func":"msg.payload=\"GPIO5 set to HIGH\"\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":340,"wires":[["5ae61ad0.a20024","4d25fe25.d3045"]]},{"id":"5ae61ad0.a20024","type":"http response","z":"6e9df528.e3f4ec","name":"","statusCode":"","headers":{},"x":560,"y":360,"wires":[]},{"id":"4d25fe25.d3045","type":"debug","z":"6e9df528.e3f4ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":580,"y":460,"wires":[]}]