14-1.json
[{"id":"4dccaee3.213fa","type":"tab","label":"week 14-1","disabled":false,"info":""},{"id":"263c5d12.cad152","type":"mqtt out","z":"4dccaee3.213fa","name":"","topic":"mcs/D4MGOKgY/Btnm0CPfTP86Aeow/Temperature","qos":"2","retain":"","broker":"f4a4b252.0f14","x":580,"y":360,"wires":[]},{"id":"fb45bf81.9879c","type":"debug","z":"4dccaee3.213fa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":300,"wires":[]},{"id":"83c4f7d3.916a28","type":"debug","z":"4dccaee3.213fa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":500,"wires":[]},{"id":"13c57b1f.785465","type":"mqtt out","z":"4dccaee3.213fa","name":"","topic":"mcs/D4MGOKgY/Btnm0CPfTP86Aeow/Humidity","qos":"2","retain":"","broker":"f4a4b252.0f14","x":560,"y":440,"wires":[]},{"id":"3587c8fc.e0cb28","type":"inject","z":"4dccaee3.213fa","name":"","topic":"","payload":",,32","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":240,"wires":[["263c5d12.cad152","fb45bf81.9879c"]]},{"id":"90fa71f0.dedd2","type":"inject","z":"4dccaee3.213fa","name":"","topic":"","payload":",,22","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":360,"wires":[["13c57b1f.785465","83c4f7d3.916a28"]]},{"id":"f4a4b252.0f14","type":"mqtt-broker","z":"","name":"MCS Cloud","broker":"https://mqtt.mcs.mediatek.com/","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]