14-2.json
[{"id":"b2b96327.a64d8","type":"tab","label":"week 14-2","disabled":false,"info":""},{"id":"609aae9a.1c932","type":"mqtt in","z":"b2b96327.a64d8","name":"","topic":"mcs/D4MGOKgY/Btnm0CPfTP86Aeow/+","qos":"2","datatype":"auto","broker":"f4a4b252.0f14","x":200,"y":260,"wires":[["3325c4f.424fa3c"]]},{"id":"3325c4f.424fa3c","type":"csv","z":"b2b96327.a64d8","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":",,Data","skip":"0","x":300,"y":440,"wires":[["1599ec06.75c8f4","c7cbbe78.ad867"]]},{"id":"1599ec06.75c8f4","type":"change","z":"b2b96327.a64d8","name":"Get Data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":480,"wires":[["82ca867e.33e9b8","bc83b5c2.c84d38"]]},{"id":"82ca867e.33e9b8","type":"ui_gauge","z":"b2b96327.a64d8","name":"","group":"b2c39082.3ed59","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":480,"wires":[]},{"id":"bc83b5c2.c84d38","type":"debug","z":"b2b96327.a64d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":320,"wires":[]},{"id":"c7cbbe78.ad867","type":"debug","z":"b2b96327.a64d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":320,"wires":[]},{"id":"f4a4b252.0f14","type":"mqtt-broker","z":"","name":"MCS Cloud","broker":"https://mqtt.mcs.mediatek.com/","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b2c39082.3ed59","type":"ui_group","z":"","name":"Status","tab":"360996a8.1bc0ca","order":1,"disp":true,"width":"6","collapse":false},{"id":"360996a8.1bc0ca","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]